.content_auto_complete_search{
    top: 4px;
    left: 5px;
    position: absolute;
    max-height: 400px;
    width: 89%;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 26%);
    border-radius: 5px;
    overflow: auto;
}
.content_txt_offer{
    width: 100%;
    background: rgb(245, 241, 241);
}
.txt_offer{
    padding-left: 5px;
    font-size: 15px;
}
.items{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
}
.items:hover{
    background-color: rgb(235 232 232);;
}
.ln{
    height: 1px;
    width: 100%;
    background-color:rgba(209, 205, 205, 0.6);
    margin-top:10px;
}
.name{
    font-size: 17px;
    font-weight: 500;
    color: black;
}
.content_price{
    display: flex;
}
.price{
    font-weight: 600;
    color: black;
}
.price_old{
    font-weight: 600;
    color: rgb(75, 71, 71);
    margin-left: 5px;
    font-size: 14px;
}
.dis_none{
    display: none;
}
.text_question{
    text-align: center;
    padding: 10px;
}
.search_none{
    padding: 10px;
    text-align: center;
}

